body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
#header {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* align left */
  padding: 0px;
  box-sizing: border-box;
  background-color: #5C8EB4; /* optional light background */
}
#logo {
    font-family: "Courier New", monospace;
    font-size: 60px;
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#search-bar {
  margin-left: 30%;
  width: 250px;           /* container width */
  display: flex;          /* align input + button in a row */
  gap: 5px;               /* space between input and button */
  margin-top: 20px;
}

#search-bar input {
  height: 40px;
  width: 250px;
  padding: 8px 12px;
  font-size: 24px;
  border-radius: 10px;      
  border: 1px solid #acaaaa;
  box-shadow: 0 2px 8px rgba(151, 147, 147, 0.25);
  outline: none;
}

#search-bar input:focus {
  border-color: #555;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

#search-bar button {
  height: 58px;
  width: 60px;
  border: 1px solid #acaaaa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(151, 147, 147, 0.25);
  background-color: #cfe3e6;
  cursor: pointer;
  margin-left: -3px;
}
#container {
  display: flex;
  height: 100vh; 
  width: 100vw;  
}

#sidebar {
  width: 40%;
  border: 2px solid #444;
  background-color: #9AB7CD;
  overflow-y: auto;
  box-sizing: border-box; 
}

#map {
  width: 60%;
  border: 2px solid #000;
  box-sizing: border-box;
}
.filter-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.filter-options label {
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: #cfe3e6;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.filter-options label:hover {
  background-color: #b5d2db;
}

.filter-options input {
  margin-right: 8px;
}
.filter-group {
  margin: 20px 0;       /* space between each group */
}

.filter-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;  /* space between title and filters */
}